# .gitignore file

# Backup files
*~

# Lock files used by the Emacs editor.
.\#*

# Temporary files used by editors.
*.swp
*.orig
*.bak

# A hidden file created by the Mac OS X Finder.
.DS_Store

# python byte-code files
*.pyc
*.pyo
*.pyd

# Build/dist files
dist/*
build/*
*.egg-info/*
distribute*.egg
distribute*.tar.gz
py3source
.tox/*
__pycache__
.pytest_cache
*.egg-info
build
env*/

# Docs build
docs/_build/*
doc/_build/*
doc/auto_examples/*
doc/generated/*
doc/reference/generated/*

# coverage.py files
.coverage

# PyCharm IDE files
*.idea*

# jupyter notebooks
*.ipynb
.ipynb_checkpoints/*
tests/test_pixel.py

# mypy
.mypy_cache/
.ruff_cache/

# vscode
.vscode/*
