branches:
    only:
        - "master"

language: python

matrix:
    include:
        # No plugins + pydicom
        - name: "Python 3.6, Ubuntu"
          os: linux
          dist: bionic
          python: "3.6"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=false
        - name: "Python 3.7, Ubuntu"
          os: linux
          dist: bionic
          python: "3.7"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=false
        - name: "Python 3.8, Ubuntu"
          os: linux
          dist: bionic
          python: "3.8"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=false
        # libjpeg + pydicom
        - name: "Python 3.6, Ubuntu"
          os: linux
          dist: bionic
          python: "3.6"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=true
        - name: "Python 3.7, Ubuntu"
          os: linux
          dist: bionic
          python: "3.7"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=true
        - name: "Python 3.8, Ubuntu"
          os: linux
          dist: bionic
          python: "3.8"
          env:
            - INSTALL_PYDICOM=true
            - INSTALL_LIBJPEG=true


# Install dependencies and package
install:
    - source build_tools/travis/install.sh
    - python -m pip install .

# Command to run tests
script:
    - python -m pytest --cov pylibjpeg

after_success:
    # Upload coverage results to codecov.io
    # curl times out sometimes, so drop the connection timeout but retry more often
    - bash <(curl --connect-timeout 10 --retry 10 --retry-max-time 0 https://codecov.io/bash) ||
      (sleep 30 && bash <(curl --connect-timeout 10 --retry 10 --retry-max-time 0 https://codecov.io/bash))

notifications:
    email: false
