dist: xenial
language: python

# Build against pydicom master and current release
matrix:
    include:
        - name: "Python 3.6, solo"
          python: "3.6"
          env: TEST_SUITE=solo
        - name: "Python 3.7, solo"
          python: "3.7"
          env: TEST_SUITE=solo
        - name: "Python 3.8, solo"
          python: "3.8"
          env: TEST_SUITE=solo
        - name: "Python 3.6, pydicom master"
          python: "3.6"
          env: TEST_SUITE=pydicom_master
        - name: "Python 3.7, pydicom master"
          python: "3.7"
          env: TEST_SUITE=pydicom_master
        - name: "Python 3.8, pydicom master"
          python: "3.8"
          env: TEST_SUITE=pydicom_mastere
        - name: "Python 3.6, pydicom release"
          python: "3.6"
          env: TEST_SUITE=pydicom_release
        - name: "Python 3.7, pydicom release"
          python: "3.7"
          env: TEST_SUITE=pydicom_release
        - name: "Python 3.8, pydicom release"
          python: "3.8"
          env: TEST_SUITE=pydicom_release

# Install dependencies and package
install:
    - source build_tools/travis/install.sh
    - pip install -r requirements.txt
    - python setup.py build

# Command to run tests
script:
    - pytest --cov=pylibjpeg --pyargs pylibjpeg --ignore=pydicom-master,pydicom --ignore=pylibjpeg/src

after_success:
    # Upload coverage results to codecov.io
    # curl times out sometimes, so drop the connection timeout but retry more often
    - bash <(curl --connect-timeout 10 --retry 10 --retry-max-time 0 https://codecov.io/bash) ||
      (sleep 30 && bash <(curl --connect-timeout 10 --retry 10 --retry-max-time 0 https://codecov.io/bash))

notifications:
    email: false
