name: Build package and deploy to PyPI

on:
  pull_request:
  release:
    types: [ published ]

jobs:
  build_deploy:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: 3.9

    - name: Install requirements

      run: |
        python -m pip install -U pip
        python -m pip install twine

    - name: Build wheels and sdist
      run: |
         python setup.py sdist bdist_wheel

    - uses: actions/upload-artifact@v2
      with:
        name: wheels
        path: ./dist

    #- name: Publish package to PyPi
    #  uses: pypa/gh-action-pypi-publish@master
    #  with:
    #    user: __token__
    #    password: ${{ secrets.PYPI_PASSWORD }}
