name: release-deploy

on:
  release:
    types: [ published ]
  # push:
  #   branches: [ main ]
  # pull_request:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/pylibjpeg/
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.8

    - name: Install required packages
      run: |
        python -m pip install -U pip
        python -m pip install build

    - name: Build wheels and sdist
      run: |
         python -m build

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: wheels
        path: ./dist

    - name: Publish package to PyPi
      uses: pypa/gh-action-pypi-publish@release/v1
